@font-face {
  font-family: "iconfont"; /* Project id 3587689 */
  src: url('//at.alicdn.com/t/c/font_3587689_b3md7gg3rdr.woff2?t=1660579279973') format('woff2'),
       url('//at.alicdn.com/t/c/font_3587689_b3md7gg3rdr.woff?t=1660579279973') format('woff'),
       url('//at.alicdn.com/t/c/font_3587689_b3md7gg3rdr.ttf?t=1660579279973') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bing:before {
  content: "\e603";
}

.icon-github:before {
  content: "\e63a";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-daohang:before {
  content: "\e651";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

